
body { background-image: url('../fondo1.jpg');
text-align: center;
color: royalblue;
}

h1 {font-size: 55px;
text-align: center;

}

h2 { font-size: 30px;
    text-align: center;
}

span{font-size: 25px;
    color: red;

}

li { font-size: 20px;
color: royalblue;
}

a { color: royalblue;}

span:hover {color: black;

}

a:hover {color: red;

}